<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>ohaqyrf@grkgzngr.bet</string>
	<key>contactName</key>
	<string>Adam Lett</string>
	<key>description</key>
	<string>A minimalistic syntax colouring theme for TextMate</string>
	<key>name</key>
	<string>Minimal</string>
	<key>uuid</key>
	<string>11B26A1B-E47E-46EC-BE3A-C00192EB80DB</string>
</dict>
</plist>
